@import 'variables';

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  border: 1px solid $gray-element;
  border-radius: 5px;
  background-color: $white;

  &__image {
    background-image: url(../images/imac.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 134px;
    margin-top: 16px;
    line-height: 18px;
  }

  &__title {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-accent;
  }

  &__code {
    margin-top: 4px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary;
  }

  &__reviews {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $main-accent;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  &__price {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  &__price-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $secondary;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-accent;
  }

  &__buy {
    margin-top: 16px;
    border: 1px solid $blue-accent;
    border-radius: 5px;
    padding: 12px 70px 12px 69px;
    background-color: $blue-accent;

    &-link {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $blue-accent;
        background-color: transparent;
      }
    }
  }
}
