@import 'variables';

.stars {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 4px;

  &__star {
    width: 16px;
    height: 16px;
    border-radius: 0.5px;

    &--1,
    &--2,
    &--3,
    &--4 {
      background-image: url(../images/star-active.svg);
    }

    &--5 {
      background-image: url(../images/star.svg);
    }
  }
}
